@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #050505;
    --secondary-color : #007BFF
  }

/* @layer utilities{
    .primary-color {
        @apply #2AB9A4
    }
} */

*::-webkit-scrollbar {
    display: none;
  }